@model MyStore.Web.Models.RegisterNewUserViewModel
@{
    ViewData["Title"] = "Register";
}

    <!-- Preloader Start-->
    <!-- header end -->
    <main class="login-bg">
        <!-- Register Area Start -->
        <div class="register-form-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="register-form text-center">
                                <!-- Login Heading -->
                                <div class="register-heading">
                                    <span>Sign Up</span>
                                    <p>Create your account to get full access</p>
                                </div>
                                <!-- Single Input Fields -->
                                <div class="input-box">
                                    <div class="single-input-fields">
                                        <label asp-for="Name" style="font-size:15px">Name</label>
                                        <input asp-for="Name" class="form-control" placeholder="Enter name" type="text" style="height:35px" />
                                        <span asp-validation-for="Name" class="text-warning"></span>
                                    </div>

                                    <div class="single-input-fields">
                                        <label asp-for="VAT" style="font-size:15px">Value Added Tax</label>
                                        <input asp-for="VAT" class="form-control" placeholder="Enter Value Added Tax" type="number" style="height:35px" min="100000000" max="999999999"/>
                                        <span asp-validation-for="VAT" class="text-warning"></span>
                                    </div>

                                    <div class="single-input-fields">
                                        <label asp-for="Username" style="font-size:15px">Email</label>
                                        <input asp-for="Username" class="form-control" placeholder="Enter email" type="email" style="height:35px" />
                                        <span asp-validation-for="Username" class="text-warning"></span>
                                    </div>

                                    <div class="single-input-fields">
                                        <label asp-for="Password" style="font-size:15px">Password</label>
                                        <input asp-for="Password" class="form-control" placeholder="Enter password" type="password" style="height:35px" />
                                        <span asp-validation-for="Password" class="text-warning"></span>
                                    </div>

                                    <div class="single-input-fields">
                                        <label asp-for="Confirm" style="font-size:15px"> Confirm Password</label>
                                        <input asp-for="Confirm" class="form-control" placeholder="Confirm password" type="password" style="height:35px" />
                                        <span asp-validation-for="Confirm" class="text-warning"></span>
                                        <label style="font-size:15px" class="text-success">
                                            @ViewBag.Message
                                        </label>
                                    </div>
                                    
                                </div>
                                <!-- form Footer -->
                                <div class="register-footer">
                                    <p> Already have an account? <a asp-action="Login"> Login</a> here</p>
                                    <input class="submit-btn3" type="submit" value="Sign Up" />
                                </div>
                                
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Register Area End -->
    </main>  


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $("#CityId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCitiesAsync")',
                    dataType: 'json',
                    data: { countryId: $("#CountryId").val() },
                    success: function (cities) {
                        debugger;
                        $("#CityId").append('<option value="0">(Select a city...)</option>');
                        $.each(cities, function (i, city) {
                            $("#CityId").append('<option value="'
                                + city.id + '">'
                                + city.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}