<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       .page_404 {
            padding: 40px 0;
            background: #fff;
            font-family: 'Arvo', serif;
        }

            .page_404 img {
                width: 100%;
            }

        .four_zero_four_bg {
            background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/2db0b280898527.5cee93b96b7f6.gif);
            background-repeat: no-repeat;
            height: 400px;
            background-position: center;
        }

            .four_zero_four_bg h1 {
                font-size: 80px;
            }

            .four_zero_four_bg h3 {
                font-size: 80px;
            }

        .link_404 {
            color: #fff !important;
            padding: 10px 20px;
            background: #39ac31;
            margin: 20px 0;
            display: inline-block;
        }

        .contant_box_404 {
            margin-top: -50px;
        }
    </style>
</head>
<body>
    <section class="page_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <h1 class="text-center ">
                        <br />
                        @*<strong>404</strong>*@
                    </h1>
                    <div class="four_zero_four_bg">
                    </div>

                    <div class="text-center">
                        <h4 class="h2">
                            Look like you're lost
                        </h4>

                        <p style="text-align:center">the page you are looking for is not available!</p>

                        <a asp-action="Index" class="link_404">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
